---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
---

<Layout>
<div id="greeting"> 
    <div id="hero">
        <Hero/>
    </div>
    <div id="about">
        <h1>Hello! Nice to meet you</h1>
        <p>    Hello! My name is Lia (she/they) and I'm a 19yo Brazilian dev on my 4th semester of Computer Science and have been doing programming as a hobby for about 5 or 6 years now with some breaks. I am very interested in reverse engineering, game modding, graphics programming, backend web dev and all sorts of other things</p>
        <p>    My hobbies outside of CS often are creative and artsy, so I do photography and minecraft building (the only game I have time to play) or around logic like creating computers in things that are not supposed to have computers, minecraft redstone and puzzles </p>
    </div>
</div>

<hr>

<section id="mainSection">
    <h1>Projects</h1>
    <Projects/>
</section>
<section id="mainSection">
    <h1>Skills</h1>
    <Skills/>
</section>
<section id="mainSection">
    <h1>Links</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit perferendis consequatur, maiores voluptatibus fugit necessitatibus assumenda nobis deleniti magni aperiam sit amet quae reiciendis, corrupti nisi distinctio dolore at obcaecati!</p>
</section>


<style>

    hr {
        width: 100%;
    }

    h1 {
        font-size: 200%;
        margin-top: 1ch;
        align-text: left;
        margin: auto;
        font-style: normal;
        font-family: "Edu NSW ACT Cursive", cursive;
    }

    p {
        align-text: left;
        font-family: "Delius", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    #about {
        align-self: center;
        width: 80%;
    }

    #greeting {
        display:flex;
        gap: 2rem;
        flex-direction: row;
        width: 100%;
    }

    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px);
    }


    main {
        height: 100%;
        display: flex;
        justify-content: center;
    }



    #mainSection {
        text-align: justify;
    }

    #mainSection>h1{
        text-align: center;
        margin-bottom: 1ch;
    }


    .box {
        padding: 16px;
        background: rgba(255, 255, 255, 1);
        border-radius: 16px;
        border: 1px solid white;
    }

    @media screen and (max-height: 368px) {
        #news {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        #container {
            display: flex;
            flex-direction: column;
        }


        #links {
            flex-wrap: wrap;
        }

        #links a.button {
            padding: 14px 18px;
        }

        #news {
            right: 16px;
            left: 16px;
            bottom: 2.5rem;
            max-width: 100%;
        }

        h1 {
            line-height: 1.5;
        }
    }
</style>
</Layout>
