---
const {id, className} = Astro.props;
---

<style>
    dialog {
        color: white;
        padding: 0;
        position: fixed;
        left: 0;
        top: 0;
        background: none;
        border: none;
        &::backdrop{
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.5);
        }
        animation: 0.2s alternate;
        animation-name: slide-down;
        box-shadow: 0 0 20px var(--dark);
    }


    @keyframes slide-down {
        0% {
            transform: scale(1, 0);
        }
        70% {
            transform: scaleY( 1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    .button {
        height: 85%;
    }
</style>

<div class="button" onclick={`window.${id}.showModal()`}><slot name="open"/></div>

<dialog onclick={`window.${id}.close()`} id={id}>
  <slot name="main" />
  <form method="dialog">
    <slot name="close" />
  </form>
</dialog>
