---

---

<div class="navbar"> 
    <div id="links">
        <a href="/">Home</a>
        <a href="#Links">Links</a>
        <a href="/photos">Photos</a>
        <a href="#Projects">Projects</a>
        <a href="#Skills">Skills</a>
    </div>
<div/>

<style>
    .navbar {
        font-weight: 600;
        font-style: normal;
        font-family: "Edu NSW ACT Cursive", cursive;
        font-size: 2.5ch;

        margin-top: 0;
        display: inline-flex;
        position: sticky;
        top: 0;

        background-color: var(--background);
    }
    
    a {
        color: var(--dark);
        text-align: center;
        padding: auto;
        margin: auto;
        vertical-align: center;
        text-decoration: none;
    }
    
    a:hover{
        color: var(--foreground);
        text-decoration: underline;
    }

    #links {
        margin-inline: auto;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-content: center;
        align-self: center;
        padding-left: 2rem;
        margin-top: 1rem;
    }
</style>
