---
import ProjectCard from "./cards/projectCard.astro"
import ProjectJson from "../json/projects.json"
---

<div id="container">
    {
    ProjectJson.map((entry) => 
        <ProjectCard
            name={ entry.name }
            description={ entry.description }
            url={ entry.url }
            icon={ entry.icon }
        />
    )
    }
</div>

<script>
    const cards = document.getElementsByClassName("card")

    for (let i = 0; i < cards.length; i++) {
        let card = cards.item(i)
        card?.addEventListener('click', () => {
            card.classList.toggle('show')
        })
    }
</script>

<style>

    #container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    #container>.card {
        grid-row: initial;
        grid-column: initial;
    }

    #container>*{
        margin-inline: auto;
    }

</style>
