---
import Navbar from "../components/Navbar.astro"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Delius&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <Navbar />
            <slot transition:animate="slide"/>
        </div>
    </body>
</html>

<style>
    :root{
        --highlight: #7A6EEB;
        --accent: #5A4ECB;
        --secondary-accent: #5A50BA;
        --dark: #4E44AC;
        --background-light: #4E4C67;
        --background: #1E1D25;
        --background-dark: #18161D;
        --foreground: #FFFFFF.
    }

    * {
        color: #FFF;
        font-family: "Delius", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    
    html, body {
        /* background-image: url(/src/assets/star-outline-icon-593282-512.png), url(/src/assets/star-outline-icon-593282-512.png); */
        background-blend-mode: overlay;
        /* background: repeating-linear-gradient( */
        /*     45deg, */
        /*     #606dbc, */
        /*     #606dbc 10px, */
        /*     #465298 10px, */
        /*     #465298 20px */
        /*         ); */
        background-blend-mode: overlay;
        background-image: repeating-linear-gradient( 45deg,
                darkgray,
                darkgray 10rem,
                transparent 10rem,
                transparent 20rem
            );

        background-color: var(--background-dark);


        animation: move 2s infinite linear;

        width: 100%;
        margin: 0;
    }

	.container {
        background-color: var(--background);
        margin: 0;
        display: flex;
        gap: 5rem;
        flex-direction: column;
		margin-inline: auto;
        padding: 5rem;
        padding-top: 0rem;
		width: 55%;
		height: 100%;

        box-shadow: 0 0 2rem black;

        border-inline: var(--background-light);
        border-left: dotted;
        border-right: dotted;
	}

    section {
        margin-top: 3rem;
    }


    h2 {
        margin: 0 0 1em;
        font-weight: normal;
        font-size: 20px;
    }

    p {
        color: #4b5563;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.006em;
        margin: 0;
    }


    @media (hover: none) {
        body, html, {
            background: red;
            background-blend-mode: auto;
            display: flex;
            padding: 0;
            align-items: center;
            background-color: red;
        }

        .container {
            width: 100vw;
            border: none;
            margin: 0;
        }
    }
</style>
